<div id='game'>
  <% if @winner %>
    <div class="alert alert-success"><%=@winner%></div>
  <% elsif @loser %>
    <div class="alert alert-error"><%=@loser%></div>
  <% end %>

  <% if @play_again %>
      <%if session[:player_pot].to_i == 0 %>
        <p>
          <strong>Your money is gone!</strong>
          <a href="/" class="btn btn-inverse">Start over</a>
          <a href="/game_over" class="btn btn-danger"> I'm out</a>
        </p>
      <%else%>
        <p>
        <strong>Play again?</strong>
        <a href="/bet" class="btn btn-inverse">Yes</a>
        <a href="/game_over" class="btn btn-danger"> No</a>
      </p>
      <%end%>
  <% else %>
      <h1>Game in progress</h1>
  <% end %>

  <div class="well">
    <h4>Dealer's cards:</h4>
    <% session[:dealer_cards].each_with_index do |card, i| %>
      <% if session[:turn] != "dealer" && i == 0 %>
        <img src="/images/cards/cover.jpg" class="card_image">
      <% else %>
        <%= card_image(card) %>
      <% end %>
    <% end %>

    <% if @show_dealer_hit_button %>
      <p>
        <h5>Dealer has <%= calculate_total(session[:dealer_cards])%> and will hit.</h5>
        <form id="dealer_hit" action='/game/dealer/hit' method='post'>
            <input type='submit' class='btn btn-inverse' value='Click to see next card.'>
          </form>
      </p>
    <% end %>
  </div>


  <br/>
  <div class="well" id="player">
    <h4>Player's cards:</h4>
    <% session[:player_cards].each do |card| %>
      <%= card_image(card) %>
    <% end %>

    <h5>
      <%= session[:player_name] %> has $<%= session[:player_pot] %> and bet $<%= session[:player_bet]%> this round.
    </h5>
  </div>


  <div class='well'>
    <% if @show_hit_or_stay_buttons %>
      <p>
        Now what, <%= session[:player_name] %>?
        You have <%= calculate_total(session[:player_cards]) %>
    <% else %>
      <p>
        You stayed on <%= calculate_total(session[:player_cards]) %>
    <% end %>
  </div>
      <% if @show_hit_or_stay_buttons %>
        <%if calculate_total(session[:player_cards]) < 21 %>
          <form id="hit_form" action="/game/player/hit" method='post'>
            <input type="submit" class="btn btn-inverse" value="Hit" />
          </form>
        <%end%>
          <form id="stay_form" action="/game/player/stay" method='post'>
            <input type="submit" class="btn btn-danger" value="Stay" />
          </form>
      <% end %>
      </p>
</div>
